body {
    font-family: "Montserrat";
}
  
#title {
    background-color: #ff4c68;
    color: gold;
}
  
  .container-fluid {
    padding: 3% 15% 6%;
}
  
h1 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
}
  
  /* Navigation bar stuff */
.navbar {
    padding: 0 0 4.5rem;
}
  
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
  
.nav-item {
    padding: 0 18px;
}
  
.nav-link {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2rem;
}
  
  /* Download buttons */

.download-button {
    margin: 5% 5% 5% 0;
}
  
  /* Title Image  */

.title-image {
    width: 60%;
    transform: rotate(20deg);
    margin-left: 20%;
    position: absolute;
    right: 28%;
}
  
    /* Features section */
#features {
    padding: 7% 14%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
  
.feature-box {
    text-align: center;
    padding: 5% 5%;
}
  
h3 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
}
  
.icon {
    color: #ef8172;
    padding-bottom: 5%;
}
  
.icon:hover {
    color: #ff4c68;
}
  
p {
    color: #8f8f8f;
}
  
  /* Testimonials section */
  
#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: #fff;                            /* font color */
}
  
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
  
h2 {
    font-size: 3rem;
    font-family: "Montserrat";
}
  
.carousel-item {
    padding: 7% 15%
}
  
  /* Press section */
  
#press {
    background-color: #ef8172;

    /* using the text align attribute to center the images */

    text-align: center;
    padding-bottom: 3%;
}
  
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
  
/* Pricing section */
  
#pricing {
    padding: 100px;
    text-align: center;
}
  
.pricing-column {
    padding: 3% 2%;
}
  
        /* call to action section */
#cta {
    background-color: #ff4c68;
    padding: 10%;
    text-align: center;
    color: #fff;
}
  
.cta-heading {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 4rem;
}
  
  /* Footer section */
#footer {
    text-align: center;
    font-family: "Montserrat";
    color: #8f8f8f;
    font-size: 0.75rem;
    padding: 7%;
}
  
.social-icon {
    padding: 2%;
}
  
.credits {
    padding: 2%;
}
  
  /* media query stuff */
@media (max-width: 1028px) {
    #title {
      text-align: center;
}
.title-image {
      position: static;
      transform: rotate(0);
      margin-left: auto;
    }
}